{{- $metadata := .metadata -}}
{{- if or $metadata.servingsText $metadata.servings $metadata.prepTimeText $metadata.prepTime $metadata.cookTimeText $metadata.cookTime $metadata.timeText $metadata.time -}}
  <div class="meta-chips">
{{- if or $metadata.servingsText $metadata.servings -}}
  {{- $display := printf "%v" (or $metadata.servingsText $metadata.servings) -}}
  {{- $canonical := printf "%v" $metadata.servings -}}
  {{- if eq $display $canonical -}}
    {{- $display = printf "%s portions" $display -}}
  {{- end -}}
    <span class="meta-chip"{{ if .servingsControl }} data-servings-display aria-live="polite"{{ end }}>{{ $display }}</span>
{{- end -}}
{{- if or $metadata.prepTimeText $metadata.prepTime -}}
    <span class="meta-chip">Prep {{ or $metadata.prepTimeText $metadata.prepTime }}</span>
{{- end -}}
{{- if or $metadata.cookTimeText $metadata.cookTime -}}
    <span class="meta-chip">Cuisson {{ or $metadata.cookTimeText $metadata.cookTime }}</span>
{{- end -}}
{{- if or $metadata.timeText $metadata.time -}}
    <span class="meta-chip">Total {{ or $metadata.timeText $metadata.time }}</span>
{{- end -}}
  </div>
{{- end -}}
